*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --Bright-blue-o: hsl(245, 34%, 59%);

  --font-family-1: "Red Hat Display", sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--font-family-1);
  background-image: url(./Images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: var(--Pale-blue) !important;
}

.box {
  width: 350px;
}

.heading {
  color: var(--Dark-blue);
}
.content {
  color: var(--Desaturated-blue);
}
.music {
  background-color: var(--Very-pale-blue);
}
.textAndPrice p {
  color: var(--Dark-blue) !important;
  font-size: 16px;
}
.textAndPrice span {
  color: var(--Desaturated-blue) !important;
  font-size: 15px;
}
.button {
  color: var(--Bright-blue);
  font-size: 15px;
}
.icon {
  width: 40px;
}
.content p {
  font-size: 14px;
}
.btn {
  padding: 10px 30px;
  width: 100%;
  background-color: var(--Bright-blue) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cancle p {
  color: var(--Desaturated-blue) !important;
  font-size: 14 px;
}
.button p:hover {
  text-decoration: none !important;
  color: var(--Bright-blue-o);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--Bright-blue-o) !important;
}

.cancle p:hover {
  color: var(--Dark-blue) !important;
  cursor: pointer;
}

@media (max-width: 320px) {
  .box {
    width: 290px;
  }

  .textAndPrice p {
    font-size: 12px;
  }
  .textAndPrice span {
    font-size: 12px;
  }
  .button {
    font-size: 12px;
  }
  .body{
    background-image: url(./Images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
}
